body{
    background-color:#E5E5E5;
}

#container{
     background-color:white;
    width: 992px;
    margin: 0 auto;
/*    padding:0;
    border:0;*/
    box-shadow: 0px 0px 8px rgba(0,0,0,.7);
}

.content{

}

.root{
box-shadow: 0px 0px 8px rgba(0,0,0,.7);
}

.siteheader{

}
